{% extends 'layout.html' %}


{% block body %}
    
    {% if article %}
        <h3>{{ article.title }}</h3><hr>
        <h5><strong>Author: </strong>{{ article.author }}</h5><hr>
        <h5><strong>Date: </strong>{{ article.created_date }}</h5><hr>
        {{ article.content | safe }}
    {% else %}
        <div class="alert alert-warning">
            There is no article
        </div>
    {% endif %}
        
{% endblock body %}
    