{% extends 'layout.html' %}


{% block body %}
    <h3>Articles</h3><hr>

    
    {% if articles %}
    <form action="/search" method="POST">
        <input type="text" name="keyword" class="input-sm" maxlength="64" placeholder="Search..." />
        <button type="submit" class="btn btn-danger">Search</button>
    </form>
    <hr>

    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item"><a href="/article/{{ article.id }}" style="text-decoration: none; ">{{ article.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
        <div class="alert alert-danger">
            There is no any article.
        </div>
    {% endif %}
        
{% endblock body %}
    