{% extends 'layout.html' %}


{% block body %}
    <h3>Dashboard</h3>
    <hr>
 
    <h4 style="text-align: center;">Articles by <strong>{{ session["username"] }} </strong></h4>
    <br>
    
    {% if articles %}
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">AUTHOR</th>
                <th scope="col">DATE</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td><a href="/article/{{ article.id }}" style="color: #fff; text-decoration: none;"><strong>{{ article.title }}</strong></a></td>
                        <td>{{ article.author }}</td>
                        <td>{{ article.created_date }}</td>
                        <td><a href="/update/{{ article.id }}" class="btn btn-info" >Update</a></td>
                        <td><a href="/delete/{{ article.id }}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">
            You have no any article yet.
        </div>
    {% endif %}

    <a href="/addarticle" class="btn btn-primary">Add Article</a>
        
{% endblock body %}

    