{% extends 'layout.html' %}


{% block body %}
    <div class="jumbotron text-center">
        <h3>Welcome to Computer Science Blog</h3>
        <p>You can share your blog post in here as a developer so discover people which needs help.</p>
    </div>
        
{% endblock body %}
    