{% extends 'layout.html' %}


{% block body %}

{% from "includes/formhelpers.html" import render_field %}    
    <h3>Login</h3><hr>
    <form method="post">
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endblock body %}
