{% extends 'layout.html' %}


{% block body %}
    <h3>Update Article</h3><hr>

    {% from "includes/formhelpers.html" import render_field %}     
    <form method="post">
        {{ render_field(form.title, class="form-control") }}
        {{ render_field(form.content, class="form-control") }}
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
{% endblock body %}
